---
import MainLayout from "../../layouts/MainLayout.astro"
import Subheading from "../../components/Subheading.astro"
import ImageViewer from "../../components/ImageViewer.astro"
import { roadTripData } from "../../data/road-trip-data"

const assetUrlPrefix = "/assets/experiences"
---

<MainLayout title="Road Trippin'">
  <Subheading title="Road Trippin'" backLink="/experiences" />

  <section class="my-12">
    <p
      class="max-w-md text-xl"
      id="road-trippin-intro"
      aria-label="road tripping page introduction"
    >
      I started my journey of exploring various places in the USA in 2023 (when
      I landed in Boston for my Master's), and in the process, have driven
      vehicles of different classes, sizes, makes, models, and price ranges.
      Below is a list of a select few that I have enjoyed driving till now (some
      because of the vehicle itself, but all because of the people and
      memories).
    </p>
  </section>

  {
    roadTripData.map(item => (
      <section class="my-12" id={item.id} aria-label={`${item.id} section`}>
        <h3 class="font-medium text-minion-yellow mb-2 text-xl">
          {item.title}
        </h3>
        <p class="text-subtext-gray text-sm mb-4">
          {item.dateDriven} | {item.location}
        </p>
        <p class="max-w-md mb-4">{item.description}</p>
        {item.image && (
          <ImageViewer
            src={`${assetUrlPrefix}/${item.image}`}
            alt={`${item.title} - ${item.location}`}
            class="max-w-lg rounded-lg shadow-lg w-full sm:w-auto"
            loading="lazy"
            width="400"
            height="300"
            decoding="async"
          />
        )}
        {item.attribution && (
          <p class="text-subtext-gray text-xs mt-2">{item.attribution}</p>
        )}
      </section>
    ))
  }
</MainLayout>
