---
const { href, faIcon, class: className = "", "aria-label": ariaLabel } = Astro.props
const commonStyles = "hover:text-minion-yellow transition-all"
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`${commonStyles} ${className}`}
  aria-label={ariaLabel}
>
  <slot />
  {faIcon && <i class={faIcon} aria-hidden="true" />}
</a>
